# Virtual environment
venv/
.venv/
ENV/
env/

# Environment variables
.env

# Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
